{% extends 'base.html.twig' %}

{% block title %}
    Forum
{% endblock title %}

{% block body %}
    <div class="d-flex container-fluid justify-content-center">
        <h1>Forum</h1>
    </div>

    <!-- Options container -->
    <div class="d-flex flex-column container justify-content-around">

        <!-- This button redirects user to /query route -->
        <a class="btn btn-primary" href="{{ url('forum_show_query') }}" role="button">Show query result</a>
        <!--  -->

        <!-- This button redirects user to /new route -->
        <a class="btn btn-primary" href="{{ url('forum_new_message') }}" role="button">Add new message</a>
        <!--  -->

    </div>
    <!--  -->

    <div class="d-flex container">
        <h1>Категории</h1>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="d-flex col-sm">
                Название
            </div>
            <div class="d-flex col-sm">
                Описание
            </div>
            <div class="d-flex col-sm">
                Количество всех сообщений
            </div>
            <div class="d-flex col-sm">
                Количество всех подкатегорий
            </div>
        </div>

        {% for category in categories %}
            <div class="row mt-5">
                <div class="d-flex col-sm">
                    <a href="{{ path('forum_category', {'categoryName': category.categoryName}) }}">{{ category.categoryName }}</a>
                </div>
                <div class="d-flex col-sm">
                    {{ category.description }}
                </div>
                <div class="d-flex col-sm">
                    {{ category.messages|length }}
{#                    {{ messages[loop.index0]|length }}#}
                </div>
                <div class="d-flex col-sm">
{#                    {{ subcategories[loop.index0]|length }}#}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}